.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar

.vscode/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
out/
bin/

*.env
.env.local
